.transactionsSection {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: lightgreen;
  margin: 0 auto;
  overflow: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  h1 {
    text-align: center;
  }

  ul {
    list-style-type: none;

    li {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1em;
      width: 50%;
      margin: 0 auto;
    }
  }
}

.modal-backdrop {
  background-color: red;
}

.green {
  color: green;
}

.white {
  color: white;
}

.red {
  color: red;
}
